Repository r0227n/worktree-tui: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format-ts, format-other, typecheck, spell

lefthook.yml:

# lefthook.yml - Git hooks configuration
# https://github.com/evilmartians/lefthook

colors: true

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: mise run lint:fix -- {staged_files}
      stage_fixed: true

    format-ts:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: mise run format:ts -- {staged_files}
      stage_fixed: true

    format-other:
      glob: "*.{md,yaml,yml,toml,css}"
      run: mise run format:other -- {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: mise run typecheck

    spell:
      glob: "*.{ts,tsx,js,jsx,json,md,yaml,yml}"
      run: mise run spell -- {staged_files}

pre-push:
  parallel: true
  commands:
    lint-all:
      run: mise run lint

    format-check:
      run: mise run format:check

    typecheck:
      run: mise run typecheck

    test:
      run: mise run test

commit-msg:
  commands:
    conventional:
      run: |
        commit_msg=$(cat {1})
        pattern="^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .{1,}"
        if ! echo "$commit_msg" | grep -qE "$pattern"; then
          echo "‚ùå Invalid commit message format!"
          echo ""
          echo "Expected format: <type>(<scope>): <subject>"
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo ""
          echo "Examples:"
          echo "  feat(terminal): add preset selection dialog"
          echo "  fix(worktree): resolve path resolution issue"
          echo "  docs: update README with installation steps"
          exit 1
        fi

refactor: remove spell check configuration and related files
  .vscode/extensions.json
  cspell.json
  lefthook.yml
  mise.toml
Due: format-ts, format-other, spell

feat(ci): enhance CI pipeline with linting, formatting, and testing for changed files
  .github/pull_request_template.md
  .github/workflows/check-pr.yml
  mise.toml
Due: format-other, spell

docs: 仕様書を更新
  docs/spec.md
Due: format-other, spell

feat(config): add project configuration and documentation files for Claude integration and setup instructions
  .claude/settings.json
  .gtrconfig
  CLAUDE.md
  mise.toml
Due: format-ts, format-other, spell

test: add initial test suite for worktree-tui with basic assertions
  src/index.test.ts
Due: lint, format-ts, typecheck, spell

開発用の最低限の環境構築 (#2)
  .claude/settings.json
  .github/pull_request_template.md
  .github/workflows/check-pr.yml
  .gitignore
  .gtrconfig
  .oxfmtrc.json
  .vscode/extensions.json
  .vscode/settings.json
  CLAUDE.md
  LICENSE
  README.md
  docs/README.ja.md
  docs/spec.md
  dprint.json
  lefthook.yml
  mise.toml
  package.json
  src/index.test.ts
  src/index.tsx
  tsconfig.json
Due: lint, format-ts, format-other, typecheck, spell

chore: update spec
  CLAUDE.md
  README.md
  docs/README.ja.md
  docs/spec.md
  docs/todo.md
  mise.toml
  package.json
  src/index.test.ts
  src/index.tsx
Due: lint, format-ts, format-other, typecheck, spell
